<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin&family=EB+Garamond&display=swap" rel="stylesheet">
    <title>Stroke Away| Home</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/newlogo.jpg' %}">

</head>
<body>
    <div class="navCont">
       <div class="brandName">
        {% load static %}
           <img src="{% static 'images/newlogo.jpg' %}" alt="logo">
           <div class="text">Stroke Away</div>
        </div>
        <div class="navList">
          <a href="{% url 'myapp:home' %}"> Home</a>
          <!-- <a href="login.html">Login</a>-->
          <a href="{% url 'myapp:about' %}">About Us</a>
          <a href = "{% url 'myapp:loginpage'%}">Logout</a>
       </div>
    </div>
 
  
        <div class="imgCont">
            {% load static %}
            <img src="{% static 'images/bgimg2.jpg' %}" alt="background image">
           
                <div class="des">We are here to predict  <br>
                    the  Stroke Risk for you<br>
                <button> <a  style="text-decoration: none;color: aliceblue;" href="{% url 'myapp:predictionform' %}">Try Us</a> </button>
            </div>
            <div class="nurseCont1">
                <a href="{% url 'myapp:registerpatient' %}">Register New Patient</a> 
                <a href="{% url 'myapp:predictionform' %}">Stroke Risk Prediction</a> 
                <a href="{% url 'myapp:patientreport' %}">Generate Patient Report</a> 
               </div>
        </div>
        
    
    
</body>
</html>