<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <!-- <form method = "POST" action = "{% url 'myapp:test' %}">
            {% csrf_token %}
            <input type="name" name="name" required  placeholder="Full Name"><br>
            
             <input type="number" name="contact" maxlenghth="10" required  placeholder="Contact number"><br> -->
            
            <!-- <button>Search</button>
        </form> --> 
        <!-- H: {{ht}} m<br>
        W: {{wt}} m<br> -->
       <!-- m: {{m1}} -->
        <!-- j:{{j}} -->
    </div>
</body>
</html>